

@import url('https://fonts.googleapis.com/css2?family=Kaisei+Decol:wght@400;500;700&family=Montserrat:wght@300;400&family=Poppins:wght@400;500&display=swap');


:root {
    --lg-font: "Montserrat", sans-serif;
    --sm-font: "Montserrat", sans-serif;
    --pink:#0071ef ;
    
}
body{
    font-family: var(--sm-font);
}
.bg-primary{

    background-color: var(--pink)!important;
}
.its{
   color: blue!important;
}

.btn:not(.nav-btns button){
   height: 70px;
   width: 200px;
   font-size: 14px;
   font-family:  var(--sm-font);
   text-align: center
   ;
   vertical-align: middle;
   

color: white;
outline: white
;
border: none;
background: #0071ef !important;}

.text-primary{
    color: var(--pink)!important;
}

.navbar-brand img{
    width: 80px;
}
.navbar-brand span {
    background-color:#0071ef !important;
letter-spacing: 2px;
font-family: 'Montserrat', sans-serif;
}
.navbar a{
  color:#828282;
}
.coll{
	background:#89cff0;
}
.doctor-section
{
  font-family:  var(--sm-font);
}
.feature-section {
  font-family:  var(--sm-font);
}

.nav-item{
  
    border-bottom: 0 5px solid rgba(238, 234, 234, 0.92);
}
.navbar-toggler-icon{
  background-color:white !important; 
}
.navbar-toggle.collapsed {
  background-color: #000 !important;
}


#header{
    background:url(pexels-cottonbro-5416013.jpg) top/cover no-repeat;
   }
  
   #header h1{
    font-size: 50px;
    font-weight: 600;
    font-family:  var(--sm-font);
   }
   #header h2{
    font-size: 45px;
    font-weight: 500;
      font-family:  var(--sm-font);

   }
    
   
  
  @media screen and (max-width:768px) {
    #header h1{
      font-size: 45px;
      font-weight: 600;
     }
     #header h2{
      font-size: 45px;
      font-weight: 500;
  
     }
      
      }
      @media screen and (max-width:600px) {
        #header h1{
          font-size: 30px;
          font-weight: 600;
         }
         #header h2{
          font-size: 30px;
          font-weight: 500;
      
         }
          
          }
     
       
    
    .title h2::before{
      
      font-weight: bold;
        position: absolute;
        content: "";
       
        background-color: var(--pink);
        left: -20px;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
    }
    .active-filter-btn{
        background-color: #add8e6!important;
        color: #fff!important;
        border-color: var(--pink)!important;
    }
    .filter-button-group .btn:hover{
        color: #fff!important;
    }

    h1 {
      font-weight: bold;
        font-size: 250%;
        font-family: var(--lg-font);
       
    }
    @media(min-width: 600px){
        h1{
          font-weight: bold;
            font-size: 350%;
            font-family: var(--lg-font);
        }
    }



   
    

    

   .btn1:not(.btns button){
    
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .active-filter-btn1{
  
    color: #fff!important;
   
}
.filter-button-group .btn1:hover{
  background: #add8e6;
  color: white;
 
}
 
 @media screen and (max-width: 600px){
  .btn1:not(.btns button){
    
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
  }
  .active-filter-btn1{
  
    color: #fff!important;
   
}
.filter-button-group .btn1:hover{
  background: #2196F3;
  color: white;
}
 
}






    




    .feature-item {
        padding: 40px 24px;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        transition: all 0.3s ease;
      }
      .feature-item .lab-inner .lab-content a:hover {
        color: #0071ef;
      }
      .feature-item:hover {
        filter: drop-shadow(-1.395px 19.951px 5px rgba(136, 136, 136, 0.1));
        transform: translateY(-5px);
      }



     

      .navbar-dark .navbar-nav .nav-link {
        color: #fff;
      }
      
      .navbar-dark .navbar-nav .nav-link:hover,
      .navbar-dark .navbar-nav .nav-link:focus {
        color: rgba(255, 255, 255, 0.75);
      }










      .newsletter-section {
        padding: 60px 0;
        
      }
      .newsletter-section.style-1 {
        background: #0071ef;
      }
      @media (min-width: 1200px) {
        .newsletter-section.style-1 .section-wrapper {
          display: flex;
  flex-wrap: wrap;
          justify-content: space-between;
          
        }
      }
      @media (min-width: 992px) {
        .newsletter-section.style-1 .section-wrapper .left {
          width: 40%;
          margin-bottom: 0;
        }
      }
      .newsletter-section.style-1 .section-wrapper .left .news-title {
        text-align: center;
      }
      @media (min-width: 768px) {
        .newsletter-section.style-1 .section-wrapper .left .news-title {
          text-align: left;
        }
      }
      .newsletter-section.style-1 .section-wrapper .left .news-title h2 {
        margin-bottom: 40px;
        color: #fff;
      }
      @media (min-width: 992px) {
        .newsletter-section.style-1 .section-wrapper .left .news-title h2 {
          margin-bottom: 0;
        }
      }
      @media (min-width: 992px) {
        .newsletter-section.style-1 .section-wrapper .right {
          width: 60%;
        }
      }
      


      .section-header{
        position: relative;
        text-align: center;
        font-family: var(--lg-font);
        margin-bottom: 30px;
      }
      .section-header {
        z-index: 1;
      }
      @media (min-width: 992px) {
        .section-header {
          max-width: 70%;
          margin: 0 auto 50px;
        }
      }
      @media (min-width: 1200px) {
        .section-header {
          max-width: 63%;
        }
      }
      .section-header h2 {
        margin-top: -10px;
        
      }
      .section-header span {
        display: block;
        font-weight: 300;
      }
      

      .bbb-wrapper{

        margin-top: 1px;
  
  }
  .fl-wrap {
      float: left;
      width: 100%;
      position: relative;
  }
  
  .bbb-wrapper .subcribe-form p {
      color: #fff;
      font-size: 14px;
      font-family: var(--lg-font);
  }
  
  .bbb-wrapper .subcribe-form form {
      max-width: 900px;
      margin: 15px auto;
      position: relative;
  }
  
  .bbb-wrapper .subcribe-form #subscribe input {
      width: 100%;
      height: 60px;
      background: #fff;
      border: none;
      outline: none;
      border-radius: 1px;
      padding: 0 30px;
      box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
  }
  
  .bbb-wrapper .subcribe-form #subscribe #subscribe-button {
      height: 50px;
      padding: 0 30px;
      border-radius: 3px;
      border: none;
      position: absolute;
      right: 6px;
      top: 6px;
          font-size: 11px;
          font-family: var(--lg-font);
      color: #fff;
      cursor: pointer;
  }
  
  .subscribe-message {
      color: #fff;
      float: left;
      margin-top: 10px;
      text-align: left;
      font-weight: 500;
      font-family: var(--lg-font);
  }
  
  .color-bg{ 
        background: #4DB7FE;
  }
  
  #subscribe-button:hover{
      background: #2C3B5A;
      color: #fff;
  }
  @media screen and (max-width: 767px){
    #subscribe-button{
  margin: top 2px;
    }
    #subscribe-button {
       width: 120px;
      height: 10px;
       top: 10px;
       bottom: 20px;
       right: 40px;
       font-size: 10px;
   }
}
 @media screen and (max-width: 767px){
    #subscribe-button{
  margin: top 2px;
    }
    .bbb-wrapper .subcribe-form #subscribe #subscribe-button {
     
      height: 38px;
      padding: 0 20px;
      border-radius: 3px;
      border: none;
      position: absolute;
      right: 1px;
      top: 0.8px;
          font-size: 10px;
          font-family: var(--lg-font);
      color: #fff;
      cursor: pointer;
  }
  .bbb-wrapper .subcribe-form #subscribe input {
    width: 100%;
    height: 40px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 1px;
    padding: 0 20px;
    box-shadow: 0px 0px 0px 7px rgba(255,255,255,0.2);
}
  
}
  


      

  


      

      




     
      .doctor-item.style-1 .doctor-inner .doctor-thumb img {
        -webkit-transition: 0.3s all linear;
        -moz-transition: 0.3s all linear;
        transition: 0.3s all linear;
      }
      .doctor-item.style-1 .doctor-inner .doctor-content .doctor-name h4 a {
        font-size: 13px;
        color: #fff;
      }
      .doctor-item .style-1 .doctor-inner .doctor-content .doctor-name p {
        color: #fff;
        font-size: 20px;
        font-family: var(--lg-font);
      }
      .doctor-item.style-1 .doctor-inner .doctor-content .doctor-contact:before {
        top: -10px;
        left: 24px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width:  0 15px 15px 15px;
        border-color:transparent #fff transparent;
      }
      .doctor-contact li span {
        color: #000000;
      }
      .doctor-name{
          padding: 10px;
        height: 125px;
        width: 300px;
        text-align: center;
        justify-content: center;
    
    margin: auto;
      
        
        background-color: #3fa5eb;
        
      }
       
      .doctor-section .doctor-btn {
        margin-top: 35px;
        margin-bottom: -6px;
      }
      .doctor-contact{
        position: relative;
        
        
        content: "";
        list-style: none;
        margin-bottom: 0px;
        padding: 20px;
        
      }
      .doctor-item.style-1 .doctor-inner .doctor-content .doctor-contact li span {
        color: #000000;
      }
      
      .doctor-item.style-1:hover .doctor-inner .doctor-thumb img, .doctor-item.style-1.active .doctor-inner .doctor-thumb img {
        transform: scale(1.1);
      }
      .doctor-item.style-2 .doctor-inner .doctor-thumb img {
        -webkit-transition: 0.3s all linear;
        -moz-transition: 0.3s all linear;
        transition: 0.3s all linear;
      }
      .doctor-item.style-2 .doctor-inner .doctor-content .doctor-name h4 a {
        color: #000000;
      }
      .doctor-item.style-2 .doctor-inner .doctor-content .doctor-name p {
        color: #696969;
      }
      .doctor-item.style-2:hover .doctor-inner .doctor-thumb img {
        transform: scale(1.1);
      }
      .doctor-item.style-2:hover .doctor-inner .doctor-content .doctor-name h4 a {
        color: #0071ef;
      }


    .greybg{
      background-color: #3b3b3b!important;
    }
    
   
  



    @media screen and (max-width:321px) {
      .lab-thumb  img{
    width: 250px;
    height: 100;
    
      }
    
       }
    
    




.stat{
  background: #0071ef;
  padding-top: 1px;
  padding-bottom: 40px;
  background-attachment: fixed;
margin-top: 60px;
}
.stat i{
  font-size: 20px;
  font-family: var(--lg-font);
}
.stat-items h2{
  font-weight: bold;
  font-family: var(--lg-font);
  font-size: 42px;
  color:white;
}
.stat p {
  font-weight: bold;
  letter-spacing: 1px;
  font-family: var(--lg-font);

}





.wrapper{
	padding-left: 10px;
  padding-right: 10px;
	margin: 150px auto;
}

.tabs ul{
	display: flex;
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	margin-bottom: 25px;
}

.tabs ul li{
	width: 250px;
	padding: 15px;
	border-right: 1px solid #0071ef;
	text-align: center;
	color: #3b3b3b;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 3px;
	cursor: pointer;
	transition: all 0.2s ease;
	position: relative;
}

.tabs ul li .icon{
	font-size: 20px;
	margin-right: 5px;
	vertical-align: middle;
}

.tabs ul li:last-child{
	border-right: 0px;
}

.tabs ul li:before{
	content: "";
	position: absolute;
	bottom: -1px;
	left: 0;
	width: 100%;
	height: 2px;
	background:#0071ef;
	opacity: 0;
	transition: all 0.2s ease;
}

.tabs ul li:hover,
.tabs ul li.active{
	background: #e8f5f1;
	color: #0071ef;
}

.tabs ul li:hover:before,
.tabs ul li.active:before{
	opacity: 1;
}

.content{
	background: #fbfbfb;
	border: 1px solid #dddddd;
	border-radius: 5px;
	padding: 20px;
}

.tab_wrap .title{
	font-size: 20px;
	margin-bottom: 15px;
	font-weight: 600;
}

.tab_wrap .tab_content p{
	font-size: 14px;
	line-height: 22px;
	margin-bottom: 10px;
}







.action {
  font-size: 20px;
}

.action {
  min-height: 5vh;
  
 
}




.action menu {
  --size: 2.5rem;
  --radius: 6rem;
  --padding: 1rem;
  --bg-color: rgba(255, 255, 255, 0.9);
  --fg-color: rgba(0, 0, 0, 0.7);
  --hi-color:#0071ef ;
  
  position: fixed;
  bottom: var(--padding);
  right: var(--padding);
}

.action menu > * {
  position: absolute;
  
  display: grid;
  place-content: center;
  
  border-radius: 50%;
  
  background: var(--bg-color);
  color: var(--fg-color);
  
  text-decoration: none;
  
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.6);
}

.action menu > .action {
  --factor: 0;
  
  width: var(--size);
  height: var(--size);
  right: calc(0.35 * var(--size));
  bottom: calc(0.35 * var(--size));
  
  opacity: 0;
  
  transform: rotate(calc(-1 * var(--angle))) translateY(calc(-1 * var(--radius) * var(--factor))) rotate(var(--angle));
  
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out, box-shadow 250ms ease-in-out, color 250ms ease-in-out;
}

.action menu > .action:hover, menu > .trigger:hover {
  color: var(--hi-color);
  box-shadow: 0px 0px 0px 0.35rem rgba(0, 0, 0, 0.2);
}

.action menu.open > .action {
  --factor: 1;
  
  opacity: 1;
}

.action menu > .action:nth-child(1) {
  --angle: 0deg;
  transition-delay: 0ms;
}

.action menu > .action:nth-child(2) {
  --angle: 30deg;
  transition-delay: 50ms;
}

.action menu > .action:nth-child(3) {
  --angle: 60deg;
  transition-delay: 100ms;
}

.action menu > .action:nth-child(4) {
  --angle: 90deg;
  transition-delay: 150ms;
}

.action menu > .trigger {
  width: calc(1.6 * var(--size));
  height: calc(1.6 * var(--size));
  bottom: 0;
  right: 0;
  
  font-size: 2rem;
  transition: box-shadow 250ms ease-in-out, color 250ms ease-in-out;
}

.action menu > .trigger > i {
  transition: transform 250ms ease-in-out;
}

.action menu.open > .trigger > i {
  transform: rotate(-135deg);
}







.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
};






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0
}


.container .card {
    height: 500px;
    width: 800px;
    background-color: #fff;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    cursor: pointer
}

.container .card .form {
    width: 100%;
    height: 100%;
    display: flex
}

.container .card .left-side {
    width: 45%;
    background-color: #3e2093;
    height: 100%;
    border-radius: 10px;
    position: relative;
    overflow: hidden
}

.left-side .top {
    color: #fff;
    padding: 30px
}

.top h4 {
    font-size: 19px;
    margin-bottom: 10px
}

.top p {
    color: #ded9ec;
    font-size: 14px
}

.medium {
    display: flex;
    align-items: start;
    flex-direction: column;
    padding: 0 30px;
    color: white;
    position: relative;
    margin-top: 25px
}

.medium .fa-phone {
    position: absolute;
    font-size: 20px;
    transition: all 0.5s;
    left: -50px
}

.medium p:nth-child(2) {
    position: absolute;
    top: 1px;
    left: 20px;
    margin-left: 10px;
    font-size: 13px;
    transition: all 0.5s
}

.left-side:hover .medium p:nth-child(2) {
    left: 50px
}

.medium .fa-envelope-o {
    padding-top: 35px;
    font-size: 17px;
    position: absolute;
    left: -50px;
    top: 22px;
    transition: all 0.5s
}

.medium p:nth-child(4) {
    position: absolute;
    top: 55px;
    left: 20px;
    margin-left: 10px;
    font-size: 13px;
    transition: all 0.5s
}

.left-side:hover .medium p:nth-child(4) {
    left: 50px
}

.medium .fa-map-marker {
    padding-top: 35px;
    font-size: 20px;
    position: absolute;
    top: 72px;
    left: -50px;
    transition: all 0.5s
}

.medium p:nth-child(6) {
    position: absolute;
    top: 108px;
    left: 20px;
    margin-left: 10px;
    font-size: 13px;
    transition: all 0.5s
}

.left-side:hover .medium p:nth-child(6) {
    left: 50px
}

.left-side:hover .fa-phone {
    top: 1px;
    left: 30px;
    position: absolute
}

.left-side:hover .fa-envelope-o {
    position: absolute;
    left: 30px
}

.left-side:hover .fa-map-marker {
    position: absolute;
    left: 30px
}

.last {
    padding: 0 30px;
    padding-top: 272px;
    position: relative;
    letter-spacing: 10px;
    font-size: 15px;
    color: #ccc3e2
}

.last .fa-facebook-f {
    position: absolute;
    left: -50px;
    top: 275px;
    transition-delay: 0.6s;
    transition: all 0.5s
}

.left-side:hover .fa-facebook-f {
    position: absolute;
    left: 30px
}

.last .fa-twitter {
    position: absolute;
    top: 275px;
    left: -50px;
    transition: all 0.5s;
    transition-delay: 0.2s
}

.left-side:hover .fa-twitter {
    position: absolute;
    left: 58px
}

.last .fa-instagram {
    position: absolute;
    left: -50px;
    top: 275px;
    transition: all 0.5s;
    transition-delay: 0.4s
}

.left-side:hover .fa-instagram {
    position: absolute;
    left: 90px
}

.last .fa-linkedin {
    position: absolute;
    left: -50px;
    top: 275px;
    transition: all 0.5s;
    transition-delay: 0.6s
}

.left-side:hover .fa-linkedin {
    position: absolute;
    left: 120px
}

.last:nth-child(5) {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fa949d
}

.left-side::before {
    content: '';
    position: absolute;
    background-color: #fa949d;
    height: 270px;
    width: 270px;
    bottom: -120px;
    right: -120px;
    border-radius: 50%
}

.left-side::after {
    content: '';
    position: absolute;
    background-color: #7e53f9;
    height: 120px;
    width: 120px;
    bottom: 50px;
    right: 65px;
    border-radius: 50%;
    opacity: 0.9
}

.container .card .right-side {
    width: 55%;
    background-color: #fff;
    height: 100%;
    border-radius: 10px;
    padding: 15px 30px;
    position: relative
}

.card-details {
    width: 100%;
    position: relative
}

.input-group {
    display: flex;
    box-sizing: border-box;
    gap: 10px;
    width: 100%;
    margin-bottom: 20px
}

.input-group .input {
    width: 100%
}

input[type='text'] {
    height: 25px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    border: none;
    border-bottom: 2px solid #ccc
}

.input {
    position: relative;
    margin-bottom: 13px
}

.input span {
    position: absolute;
    top: 0;
    font-size: 14px;
    left: 0;
    transition: all 0.5s
}

.input input:focus~span,
.input input:valid~span {
    position: absolute;
    top: -13px;
    font-size: 11px
}

.card-detalis .input input[type='text']:nth-child(1) {
    position: absolute;
    top: 10px;
    left: 50px
}

.right-side p {
    position: absolute;
    top: 220px;
    font-weight: 700;
    font-size: 13px
}

.right-side .radio {
    position: relative
}

.right-side .radio input:nth-child(1) {
    position: absolute;
    top: 240px;
    left: -225px
}

.right-side .radio p:nth-child(2) {
    top: 239px;
    left: -205px;
    font-size: 11px
}

.right-side .radio input:nth-child(3) {
    position: absolute;
    top: 240px;
    left: -115px
}

.right-side .radio p:nth-child(4) {
    top: 239px;
    left: -95px;
    font-size: 11px
}

.right-side .radio input:nth-child(5) {
    position: absolute;
    top: 240px;
    left: 30px
}

.right-side .radio p:nth-child(6) {
    top: 239px;
    left: 55px;
    font-size: 11px
}

.right-side .radio input:nth-child(7) {
    position: absolute;
    top: 240px;
    left: 160px
}

.right-side .radio p:nth-child(8) {
    top: 239px;
    left: 180px;
    font-size: 11px
}

.centered {
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 6px;
    padding-top: 10px
}

input[type="radio"] {
    display: none
}

input[type="radio"]+label {
    appearance: none;
    cursor: pointer;
    display: inline-block;
    padding-left: 34px;
    position: relative;
    vertical-align: middle
}

input[type="radio"]:checked+label {
    backface-visibility: hidden;
    animation: checked 200ms ease 1
}

input[type="radio"]+label:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0);
    border-radius: 100% 100% 100% 100%;
    content: "";
    height: 7px;
    left: 12px;
    position: absolute;
    top: 6px;
    width: 7px
}

input[type="radio"]+label:hover:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5)
}

input[type="radio"]:checked+label:before {
    background: none repeat scroll 0 0 blue
}

input[type="radio"]+label:after {
    border: 3px solid #ccc;
    border-radius: 100% 100% 100% 100%;
    content: "";
    height: 15px;
    left: 5px;
    position: absolute;
    top: -1px;
    width: 15px
}

input[type="radio"]:checked+label:after {
    border-color: blue
}

@keyframes checked {
    0% {
        tranform: scale(1)
    }

    50% {
        transform: scale(1.05)
    }

    100% {
        transform: scale(1)
    }
}

.text-area {
    margin-top: 30px;
    position: relative
}

.text-area span {
    position: absolute;
    top: 0px;
    left: 0;
    transition: all 0.5s
}

.text-area textarea:focus~span,
.text-area textarea:valid~span {
    position: absolute;
    top: -15px;
    font-size: 11px
}

.text-area textarea {
    width: 100%;
    height: 60px;
    resize: none;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none
}

.button {
    position: relative
}

.button button {
    height: 45px;
    width: 140px;
    background-color: blue;
    color: white;
    font-size: 12px;
    position: absolute;
    bottom: -90px;
    right: 20px;
    border-radius: 7px;
    transition: all 0.5s;
    outline:none;
    border:none;
}

.button:hover button {
    background-color: darkblue;
    cursor: pointer
}

@media (max-width:750px) {
    .input {
        width: 100%
    }

    .container .card {
        max-width: 350px
    }

    .container .card .right-side {
        width: 100%;
        display: none
    }

    .container .card .left-side {
        width: 100%
    }

    .input-group {
        display: block
    }
}
@media (max-width:750px) {
  .its{
    font-size: 35px;
    
  }
}







.btn3:not(.nav-btns button){
  height: 70px;
  width: 200px;
  font-size: 18px;
  font-family:  var(--sm-font);
  text-align: center
  ;
  vertical-align: middle;
  

color: white;
outline: white
;
border: none;
background: #0071ef !important;}

.font{
  font-family:  var(--sm-font);
}
